* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./bgmobile.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  border: 1px solid red;
  margin: auto;
  padding-top: 56px;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffff;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  border: 1px solid red;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: all 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 1);
}
